.modalTeste {
  border: none;
}

.modalTeste__body {
  background: #fbe6c2;
  width: calc(100% - 64px);
  height: calc(100% - 128px);
  border-radius: 8px;
  top: 50%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  overflow: auto;
  outline: none;
}
